:root {
    --color-white: #ffffff;

    --font-large: 38px;
    --font-regular: 18px;
    --font-middle: 16px;
    --font-middle_small: 14px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

div,
h1,
h2,
p,
ul,
li,
form,
span {
    margin: 0;
}

#clock {
    font-size: 95px;
}

.momentum_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--color-white);
}

.momentum_container .login-form {
    margin: 25px 0;
}

.momentum_container .login-form input {
    padding: 5px 20px;
    width: 16rem;
    height: 2.2rem;
    font-size: var(--font-regular);
    color: white;
    background-color: transparent;
    border: 0 solid black;
    border-bottom: 2px solid mediumslateblue;
    outline: none;
}

.momentum_container .login-form input::placeholder {
    color: white;
}

.momentum_container .greeting {
    margin: 20px 0;
    font-size: var(--font-large);
}

.momentum_container .todo-form {
    margin-bottom: 15px;
}

.momentum_container .todo-form input {
    padding: 5px 20px;
    width: 12rem;
    height: 2.2rem;
    font-size: var(--font-middle);
    color: white;
    background-color: transparent;
    border: 0 solid black;
    border-bottom: 2px solid mediumslateblue;
    outline: none;
}

.momentum_container .todo-form input::placeholder {
    color: var(--color-white);
}

#todo-list {
    padding-left: 0;
    width: 13rem;
    height: 7rem;
    list-style: none;
    overflow-y: auto;
}

#todo-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 7px 10px;
    background-color: #00000090;
    border-bottom: 1px solid #581364;
    border-radius: 10px 10px 0 0;
    user-select: none;
}

#todo-list li span {
    font-size: var(--font-regular);
}

#todo-list li button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#quotes {
    position: absolute;
    bottom: 1.5rem;
    font-size: var(--font-middle_small);
    text-align: center;
    line-height: 1.5rem;
}

#quotes span {
    display: block;
}

#weather {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.hidden {
    display: none;
}
